@model evoART.Models.ViewModels.SearchModel
@using System.Activities.Statements
@using System.Data.Entity.Core.Common.EntitySql
@using System.Web.UI.WebControls
@using evoART.Special
@using Microsoft.Ajax.Utilities



@if (Model == null || Model.Photos == null || !Model.Photos.Any())
{
    <h1>
        The search returned no results! <br>
        <small><a href="/" onclick="go('Home', 'Index', ''); event.preventDefault();">Go to the Home page!</a></small>
    </h1>
}
else
{

    <div class="row">
        @foreach (var photo in @Model.Photos)
        {
            <div class="col-sm-6 col-md-4">
                <a href="/Photos/Photo/@photo.PhotoId" onclick="go('Photos', 'Photo', '@photo.PhotoId'); event.preventDefault();" class="thumbnail" title="@photo.PhotoName">
                    <img src="/Content/Thumbnails/@photo.PhotoId&#46;jpg" alt="@photo.PhotoName">
                </a>
            </div>
        }
    </div>

    <!--script>
        var p = @Model.p;
        
        $(window).scroll(function () {

            if ($(window).scrollTop() + $(window).height() == $(document).height()) {
                //p += 30;
                go('Search', 'HashTag', "@Model.searchText?p="+p);
            } else if ($(window).scrollTop() == 0 && p>0) {
                p -= 30;
                if (p < 0) p = 0;
                go('Search', 'HashTag', "@Model.searchText?p="+p);
            }
        });

    </script-->

}