@model evoART.Models.ViewModels.PhotosModel
@using System.Web.UI.WebControls



<div id="@Model.PhotoId" class="col-sm-5 col-lg-3">
    <div class="thumbnail">
        <script>
            $(function () {
                photoNumber++;
                photos[photoNumber] = "@Model.PhotoId";
            });
        </script>

        <img id="pic-@Model.PhotoId" src="/Content/Images/300x200&#46;svg" alt="..." />
        <div class="progress" style="height: 5px;">
            <div id="progress-@Model.PhotoId" class="progress-bar" role="progressbar" style="width: 0%;">
            </div>
        </div>

        <div class="caption">
            @using (Ajax.BeginForm("SaveNewPhoto", "Photos", new AjaxOptions
                    {
                        OnSuccess = "savePhoto(data, '" + @Model.PhotoId + "')"
                    }))
            {
                @Html.HiddenFor(m => m.PhotoId)
                @Html.TextBoxFor(m => m.NewPhotoName, new { @placeholder = "Photo name", @style = "width:100%;" })
                @Html.TextAreaFor(m => m.NewPhotoDescription, new { @placeholder = "Enter a description", @style = "width:100%;" })
                
                <table>
                    <tr>
                        <td>@Html.LabelFor(m => m.Album)</td>
                        <td>@Html.DropDownListFor(m => m.Album, (IEnumerable<SelectListItem>)ViewData["Albums"])</td>
                    </tr>
                    <tr>
                        <td>@Html.LabelFor(m => m.ContentTag)</td>
                        <td>@Html.DropDownListFor(m => m.ContentTag, (IEnumerable<SelectListItem>)ViewData["ContentTags"])
                    </td>
                    </tr>
                </table>

                <div class="btn-group">
                    <input type="submit" class="btn btn-primary" role="button" value="Save photo" />
                    @Ajax.ActionLink("Delete photo","DeletePhoto/"+Model.PhotoId,"Photos",new AjaxOptions{OnSuccess = "deleteNewPhoto(data,'"+Model.PhotoId+"')"},new {@class = "btn btn-danger"})
                </div>
            }
        </div>
    </div>
</div>

